body {
    background-color: #F2EEE7;
}

.main-info {
    margin-top: 10%;
    margin-left: 5%;
    font-size: 30px;
    font-family: "Lalezar", system-ui;
    color: #393F50;
}

.sobreposto {
    margin-top: -77px;
    margin-left: 204px;
    font-size: 30px;
    font-family: "Lalezar", system-ui;
    color: #BCAA8A;
}

.login-caixa {
    width: 700px;
    height: 790px;
    margin-left: 56%;
    margin-top: -23%;
    background-color: #E7DFD0;
}

 .fazerLogin h1 {
    font-size: 60px;
    font-family: "Lalezar", system-ui;
    color: #393F50;
    text-align: center;
    font-weight: bolder;
}

.login input {
    width: 70%;
    height: 61px;
    margin-left: 15%;
    margin-top: 35px;
}

.email input {
    background-image: url(./img/email.png);
    background-repeat: no-repeat;
}

.senha input {
    background-image: url(./img/cadeado.png);
    background-repeat: no-repeat;
}

button {
    width: 60px;
    height: 30px;
    background: none;
    margin-top: 25px;
    margin-left: 50%;
    display: flex;
    background-color: #BCAA8A;
}

button p {
    margin-top: 2px;
    margin-left: 3px;
    color: #FFFFFF;
    font-family: "Lalezar", system-ui;
}
